* {
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body {
    margin-left: 24px;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 6px;
    border: #201335 1px solid;
}

thead {
    background-color: #4F4789;
    color: #FFFDED;
}

td {
    border: #201335 1px solid;
    border-top: none;
    border-collapse: collapse;
    padding: 10px;
    display: table-cell;
    margin: 0;
}

.code {
    background-color: #fce762;
}
